@CHARSET "UTF-8";
body {
	background-color: white;
    font-family: Arial,sans-serif;
	height: 100%;
    width: 100%;
	padding: 0;
	margin: 0;
}
#container {
	background-color: white;
    position: absolute;
	top: 0;
    bottom: 0;
    width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
	#blockly_l{
		background-color: white;
		position: relative;
		float: left;
		width: 55%;
		height: 100%;
		padding: 0;
		margin: 0;
	}
		#header {
			position: absolute;
			background-color: white;
			height: 41px;
			width: 100%;
			padding: 0;
			margin: 0;
		}
			#btn_right {
				position: absolute;
				right: 0;
				top: 5px;
				z-index: 10;
			}
			#btn_left {
				position: absolute;
				left: 5px;
				top: 5px;
				z-index: 10;
			}
		#blocklyDiv{
			background-color: white;
			position: absolute;
			top: 45px;
			left: 5px;
			bottom: 0;
			width: 100%;
			z-index: 1;
		}
			#toggle {
				width: 50%;
				position: absolute;
				z-index: 1;
				right: 15px;
				top: 0px;
				bottom: 100px;
				opacity: 0.9
			}
			#btn_right_right {
				position: absolute;
				right: 5px;
				top: 5px;
				z-index: 10;
			}
			#toggle pre {
				font-size: 12px;
				height: 100%
			}
	#blockly_r{
		position: relative;
		float: right;
		height: 100%;
		width: 45%;
		border: none;
	}
#toolbox {
	display: none;
}
.btn_color {
	color: gray;
}
.blocklyToolbox  {
	background-color: white !important;
	opacity: 0.8 
}
.blocklyScrollbarHandle {
	fill: #5cb85c;
}
.blocklyFlyoutBackground {
	fill: white;
}
.blocklyMainBackground {
    stroke: white;
}
